.dd-filter .dropdown-menu {
    padding: 0;
    max-width: 220px;
}

.dd-filter-header {
    padding: 0 10px 10px 10px;
    background: #f5f5f5;
}

.dd-filter-header input {
    margin: 4px 0 0 0 !important;
    width: 100% !important;
}

.dd-filter-title {
    font-weight: bold;
}

.dd-filter-close {
    margin: 3px 3px 0 0;
    color: #bbb;
}

.dd-filter-close:hover  {
    color: #555;
    cursor: pointer;
    cursor: hand;
}

.dd-filter-list {
    max-height: 300px; 
    overflow-y: scroll;
    overflow-x:hidden;
}

.dd-filter-list > li > a{
    display: block;
    color: #222;
    padding: 5px 10px 5px 30px;    
}

.dd-filter-list li:hover,
.dd-filter-list li:hover > a {
    background: #428bca;
    color: #ffffff !important;
}

.dd-filter-checked {
    padding: 0 10px 0 0px;
    margin: 0 0 0 -24px; /* offset due to ellipsis */
}

.dd-filter-empty {
    display:block;
    color: #222;
    padding: 5px 10px;    
}

.dd-filter-list > li > a:hover {
    text-decoration: none;
}

.truncate {
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}